/*=======*** GOOGLE FONTS ***========*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Ubuntu:wght@500;700&display=swap');

/*=======*** RESET ***========*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: rgb(43, 43, 43);
    background-color: rgb(241, 241, 241);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
img {
    display: block;
    width: 100%;
}
p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1.25rem;
}
/*=======*** GLOBAL STYLE ***========*/
.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
}
.flex {
    display: flex;
}
.flex--center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section--center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.section--padding {
    padding: 5rem 0;
}
.section--bg {
    background-color: rgb(255, 255, 255);
}
.section--header {
    text-align: center;
    width: 60%;
    margin: auto;
}
@media screen and (max-width:992px) {
    .section--header {
        width: 75%;
    }
}
@media screen and (max-width:768px) {
    .section--header {
        width: 80%;
    }
}
@media screen and (max-width:580px) {
    .section--header {
        width: 90%;
    }
}
/*=======*** NAVBAR ***========*/
/**** TOP-NAVBAR ****/
#top--navbar {
    background-color: rgb(65, 80, 134);
    padding: 10px 0;
}
.info--box,
.tn--social-links {
    gap: 1rem;
}
.info,.info a {
    color: rgb(241, 241, 241);
    font-size: 14px;
    font-weight: 400;
    gap: 0.5rem;
}
.tn--social-links .tn--social-link {
    color: #415086;
    background-color: rgb(241, 241, 241);
    font-size: 14px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transition: all 300ms ease;
}
.tn--social-links .tn--social-link:hover {
    background-color: rgba(241, 241, 241, 0.8);
}
@media screen and (max-width:768px) {
    #top--navbar {
        display: none;
    }
}
/**** MAIN-NAVBAR ****/
#nav{
    position: relative;
    padding: 1.25rem 0;
}
.logo {
    display: block;
    color: rgb(65, 80, 134);
    font-size: 1.7rem;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
}
.logo span {
    color: #188b4d;
}
.nav--links li {
    display: inline-block;
    margin-left: 20px;
}
.nav--link {
    position: relative;
    color: rgb(43, 43, 43);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    cursor: pointer;
}
.nav--link:hover {
    color: rgba(43, 43, 43, 0.8);
}
.nav--link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(65, 80, 134);
    bottom: -5px;
    transform-origin: center;
    transform: scaleX(0);
    transition: all 300ms ease;
}
.nav--link:hover::before{
    transform: scaleX(1);
}
.nav--toggle {
    color: rgb(43, 43, 43);
    font-size: 1.75rem;
    display: none;
}
@media screen and (max-width:992px) {
    .nav--toggle {
        display: block;
    }
    .nav--links-container {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0;
        height: 0;
        overflow: hidden;
        background-color: rgb(241, 241, 241);
        transition: all 300ms ease;
        z-index: 99;
    }
    .nav--links li {
        display: flex;
        align-items: center;
        border-bottom: 1px solid rgb(224, 224, 224);
        margin-left: 0;
    }
    .nav--link {
        width: 90%;
        margin: 20px auto;
    }
    .nav--link::before {
        display: none;
    }
}
/*=======*** HERO ***========*/
.slider {
    position: relative;
    height: 100vh;
}
.slide {
    background: rgb(238,226,174);
    position: absolute;
    height: 100vh;
    width: 100%;
    text-align: center;
}
.slide--1 {
    background: url(../images/slide--1.jpg);
    background-size: cover;
    background-position: center;
}
.slide--2 {
    background: url(../images/slide--2.jpg);
    background-size: cover;
    background-position: center;
}
.slide--3 {
    background: url(../images/slide--3.jpg);
    background-size: cover;
    background-position: center;
    
}
.hero--wrapper {
    z-index: 9;
}
.hero--title {
    color: rgb(241, 241, 241);
    font-size: 3rem;
    margin-bottom: 20px;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
}
.hero--desc {
    color: rgb(241, 241, 241);
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 2rem;
}
.btn {
    display: inline-block;
    color: rgb(241, 241, 241);
    font-size: .9rem;
    font-weight: 500;
    text-transform: uppercase;
    background-color: rgb(65, 80, 134);
    padding: 1.3em 3.2em;
    border-radius: 3.2em;
    transition: all 300ms ease;
}
.btn:hover {
    background-color: rgb(24, 139, 77);
}
.slide::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
.slide--btn {
    position: absolute;
    color: rgb(43, 43, 43);
    font-size: 1rem;
    background-color: rgb(241, 241, 241);
    width: 3em;
    height: 3em;
    top: 50%;
    border-radius: 50%;
    opacity: 0.1;
    transform: translateY(-50%);
    transition: all 300ms ease;
}
.slide--btn-left {
    left: 2rem;
}
.slide--btn-right {
    right: 2rem;
}
.slide--btn:hover {
    opacity: 0.8;
}
.dots {
    position: absolute;
    gap: .8rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
}
.dot {
    background-color: rgb(241, 241, 241);
    width:0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    opacity: 0.1;
}
.dot.active {
    opacity: 0.8;
}
@media screen and (max-width:768px) {
    .slider {
        height: 580px;
    }
    .slide {
        height: 580px;
    } 
    .btn{
        font-size: 0.7rem;
    }
    .slide--btn {
        font-size: 0.65rem;
    }
}
@media screen and (max-width:580px) {
    .slider {
        height: 400px;
    }
    .slide {
        height: 400px;
    } 
    .hero--title {
        font-size: 1.8rem;
    }
    .hero p {
        font-size: 12px;
        width: 90%;
        margin: auto;
        margin-bottom: 1.25rem;
    }
    .btn{
        font-size: 0.6rem;
    }
    .slide--btn {
        font-size: 0.7rem;
    }
    .slide--btn-left {
        left: 1rem;
    }
    .slide--btn-right {
        right: 1rem;
    }
    .dot {
        width: 0.5rem;
        height: 0.5rem;
    }
}
/*=======*** ABOUT ***========*/
#about {
    padding: 5rem 0;
}
.about--wrapper {
    gap: 1.5rem;
}
.col-6 {
    flex: 6;
}
.sub--title {
    display: block;
    color: rgb(65, 80, 134);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0.85rem;
}
h2 {
    color: rgb(43, 43, 43);
    font-size: 2.5rem;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}
h2 span {
    color: rgb(65, 80, 134);
}
#about ul {
    margin-bottom: 2rem;
}
#about ul li{
    font-size: 14px;
    margin-bottom: 1rem;
}
.booking--link {
    display: block;
    color: rgb(65, 80, 134);
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0.85rem;
    cursor: pointer;
}
.booking--link span{
    margin-left: 5px;
}
@media screen and (max-width:768px) {
    .about--wrapper {
        flex-direction: column;
    }
}
/*=======*** DEPARTMENTS ***========*/
.departments {
    background-color: rgb(255, 255, 255);
    padding: 5rem 0;
}
.underline {
    display: block;
    width: 50px;
    height: 2px;
    background-color: rgb(24, 139, 77);
    margin: auto;
    margin-bottom: 1.7rem;
}
.depart--wrapper {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}
.departments--tabs {
    flex: 9;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.depart-tab {
    background-color: rgb(241, 241, 241);
    aspect-ratio: 1/1;
    text-align: center;
    flex-direction: column;
    transition: all 300ms ease;
}
.depart--tab-icon {
    color: rgb(65, 80, 134);
    font-size: 2.5rem;
    width: 2em;
    height: 2em;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-bottom: 1rem;
    transition: all 400ms ease;
}
.depart-text span {
    color: rgb(24, 139, 77);
    font-size: 1.2rem;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
}
.depart-tab:hover {
    background-color: rgb(65, 80, 134);
}
.depart-tab:hover .depart--tab-icon{
    color: rgb(24, 139, 77);
}
.depart--content {
    flex: 3;
}
h3 {
    color: rgb(43, 43, 43);
    font-size: 2rem;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0.5em;
}
.depart--btn-container {
    gap: 1rem;
}
.depart--btn {
    color: rgb(43, 43, 43);
    font-size: 1rem;
    background-color: rgb(241, 241, 241);
    width: 3em;
    height: 3em;
    top: 50%;
    border-radius: 50%;
    transition: all 300ms ease;
}
.depart--btn:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(65, 80, 134);
}
@media screen and (max-width:992px) {
    .depart--wrapper {
        flex-direction: column;
    }
    .departments--tabs {
        width: 100%;
    }
}
@media screen and (max-width:768px) {
    .departments--tabs {
        gap: 0.5rem;
    }
    .depart--tab-icon {
        font-size: 1.5rem;
    }
    .depart-text span {
        font-size: 1rem;
    }
    .depart-text span {
        font-size: 1rem;
    }
}
@media screen and (max-width:580px) {
    .depart--wrapper {
        position: relative;
    }
    .departments--tabs {
        grid-template-columns: 1fr;
        text-align: center;
        position: absolute;
        top: 50px;
    }
    .depart-tab {
        position: absolute;
        min-width: 200px;
        background-color: rgb(65, 80, 134);
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
    }
    .depart--content {
        text-align: center;
    }
    .depart--content h3 {
        margin-bottom: 230px;
    }
    .depart--btn {
        position: absolute;
        top: calc(50% - 80px);
        transform: translateY(-50%); 
    }
    .depart--btn-left {
        left: 0;
    }
    .depart--btn-right {
        right: 0;
    }
}
/*=======*** DOCTERS ***========*/
.cards {
    display: flex;
    gap: 1.5rem;
}
.card {
    flex: 4;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 400ms ease;
}
.profile--info {
    text-align: center;
    background-color: rgb(241, 241, 241);
    padding: 1.25rem 0;
}
h4 {
    color: rgb(43, 43, 43);
    font-size: 1.3rem;
    font-weight: 900;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 1px;
    margin-bottom: 0.2em;
}
.profile--info span {
    color: rgb(65, 80, 134);
    font-size: 0.85rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.timing {
    padding: 1rem 0;
    border-bottom: 1px solid rgb(241, 241, 241);
}
table {
    width: 100%;
    border-collapse: collapse;
}
td {
    padding: 0.75rem;
    text-align: center;
}
.booking {
    text-align: center;
    padding: 1rem 0;
}
.booking a,
.date {
    color: rgb(65, 80, 134);
    font-size: 0.85rem;
    font-weight: 700;
    letter-spacing: 1.1px;
}
.img--container{
    overflow: hidden;
}
.img--container img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: top;
    transition: all 400ms ease;
}
.card:hover img{
    transform: scale(1.1);
}
@media screen and (max-width: 992px) {
    .cards {
        flex-direction: column;
    }
    .img--container img {
        height: 450px;
    }
}
.card--content {
    padding: 1.25rem;
}

.contact--wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.contact--wrapper *{
    flex: 6;
}
/*form*/
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.item {
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
}
input , textarea{
    color: rgb(43, 43, 43);
    font-size: 1rem;
    padding: 1rem;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    border: 1px solid rgb(65, 80, 134);
    border-radius: 4px;
}
input::placeholder ,
textarea::placeholder{
    color: rgb(43, 43, 43);
    font-size: 0.85rem;
}
input:focus ,
textarea:focus{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button {
    border: none;
    outline: none;
}
@media screen and (max-width:768px) {
    .contact--wrapper {
        flex-direction: column;
    }
    .contact--showcase {
        order: 2;
    }
}